/* -----------------------------
            Navigation
--------------------------------*/


/* Main navigation */


.main-nav {
    float: right;
    list-style: none;
    margin-top: 3rem;    
}

.main-nav li {
    display: inline-block;
    margin-left: 2rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
    padding: 0.25rem 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/*  Sticky Navigation  */


.logo-black {
    height: 2.5rem;
    width: auto;
    float: left;
    margin: 0.25rem 0;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 999;
}

.sticky .main-nav {
    margin-top: 1rem;    
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 0.25rem 0;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}


/*  Mobile Navigation  */


.mobile-nav-icon {
    float: right;
    margin-top: 2rem;
    cursor: pointer;
    border-bottom: none;
    display: none;
}

.mobile-nav-icon:hover {
    color: #fff;
    border-bottom: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

