
/* -----------------------------
    Section 5 - Testimonials
--------------------------------*/

.section-testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('img/back-customers.jpg');
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 2rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 1.2rem;
    display: block;
}

cite img {
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    vertical-align: middle;
}

/* -----------------------------
    Section 6 - Meal Plans
--------------------------------*/

.section-plans {
    background-color: #e8e8e8;
}

.section-plans h3 {
    text-align: left;
}

.plan-box {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 0.5rem;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 50%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-box div:first-child {
    background-color: #efefef;
}



/* -----------------------------
    Section 7 - Contact Form
--------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-label {
    margin-top: 1.7%;
    vertical-align: middle;
}

input[type=text],
input[type=email],
select, textarea {
    width: 100%;
    padding: 0.2rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

select {
    width: 50%;
}

textarea {
    height: 5rem;
}

input[type=checkbox] {
    margin: 0.5rem 0.25rem 0.5rem 0;
}

/* This is to get rid of the blue focus line of Chrome */
*:focus { 
    outline: none;
}
