/* -----------------------------
        Section 1 - Features
--------------------------------*/

.section-features  {
    text-align: center;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 1%;
    text-align: left;
}

.box p {
    font-size: 0.9rem;
    line-height: 145%;
}

/* -----------------------------
         Section 2 - Meals
--------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
    opacity: 0.65;
}

.meal-photo img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}
