/* -----------------------------
        General setting 
--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
}

/* -----------------------------
            Reusable
--------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 4rem 0;
}

/* -----------------------------
            Headings
--------------------------------*/

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    word-spacing: 4px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    word-spacing: 2px;
    margin-bottom: 1.5rem;
    text-align: center;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 7rem;
    margin: 1.5rem auto;
}

/* -----------------------------
    Splash and Background Image
--------------------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 6rem;
    width: auto;
    float: left;
    margin-top: 1rem;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 3rem;
/*    display: flex;*/
    
}

.main-nav li {
    display: inline-block;
    margin-left: 2rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding: 0.25rem 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* -----------------------------
            Button
--------------------------------*/

.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10rem;
    margin-right: 0.5rem;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}


.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover, 
.btn:active {
    background-color: #bf6516;
    color: #fff;
    border: 1px solid #bf6516;
}

/* -----------------------------
            Icon
--------------------------------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin: 2rem 0 1rem 0;
    text-align: center;
}

/* -----------------------------
        Section 1 - Features
--------------------------------*/

.section-features  {
    text-align: center;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 1%;
    text-align: left;
}

.box p {
    font-size: 0.9rem;
    line-height: 145%;
}

/* -----------------------------
         Section 2 - Meals
--------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.65;
}

.meal-photo img:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* -----------------------------
    Section 3 - How it works
--------------------------------*/

.section-steps {
    background-color: #e8e8e8;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 2rem;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 5rem;
}

.app-screen {
    width: 40%;
    height: auto;
}

.work-step {
    margin-bottom: 2.5rem;
}

.work-step:last-of-type {
    margin-bottom: 4rem;
}

.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    text-align: center;
    font-size: 140%;
    float: left;
    padding: 6px;
    margin-right: 2rem;
}

.btn-app img {
    height: 2.5rem;
    width: auto;
    margin-right: 1rem;
}

/* -----------------------------
    Section 4 - City
--------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.city-feature {
    margin-bottom: 0.25rem;
}

.city-feature i {
    color: #e67e22;
    font-size: 130%;
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    margin-right: 1rem;
/*    line-height: 120%;*/
}

.city-feature a {
    text-decoration: none;
    color: #e67e22;
    padding: 2px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:hover {
    color: #000;
    border-bottom: 1px solid transparent;
}

/* -----------------------------
    Section 5 - Testimonials
--------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 2rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 1.2rem;
    display: block;
}

cite img {
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    vertical-align: middle;
}
